body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameboard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 600px;
    width: 600px;
    outline: 1px solid blue;
}

.gameboard > div {
    justify-self: center;
    align-self: center;
    font-size: 40px;
}